a:hover{
    color: red; text-decoration: none;
}
h1{
    color: blue;
    text-align: center;
}

h2{
    color: lightblue;
    text-align: center;
}

h4{
    color: darkblue;
    font-size: 150%;
}
.leftPanel{
    position: absolute;
    left: auto;
    right: auto;
}
.middlePanel{
    position: absolute;
    vertical-align: middle;
    left: 30%; right: 30%; margin: auto;
    width: 650px;
    border: 1px solid #000;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5)/*red,green,blue,alpha(0=transparente*/
}
.rightPanel{
    position: absolute;
    left: auto; right: auto; 
    font-weight: bold;
}
.footer{
    position: absolute;
    vertical-align: middle;
    right: 30%;
    left: 30%;
    margin: auto;
    left: 0; right: 0;
    text-align: center;
    bottom: 0; height: 45px;
}
#tabla1{
    width: 440px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-collapse: collapse; border: 3px solid white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#tabla1 th{
    background-color: black; color: white;
    padding: 1px;
}
